/*GLOBAL STYLES*/
html, body {
    margin: 0;
    padding: 0;   
}
body {
  font-family: calibri;
  background: #fff;
  color: black;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 50px;
}
h2 {
  margin: 0 0 20px 0;
  color: black;
}
p {
  text-align: center;
}
.logo {
  margin: 20px 0 20px 0;
}

/*HEADER STYLES*/
.header {
  background: #fff;
}

/*COLUMN STYLES*/
.column {
  width: 200px;
  padding: 20px;
  text-align: left;
}

/*CELL STYLES*/
.cell {
  width: 100%;
  box-sizing: border-box;
}
.cell-market {
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  width: 50%;
  float: left;
}

.cell-ext {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}
.hide-me {
  visibility: hidden;
}

/*SWM STYLES*/
.swm {
  display: flex;
  justify-content: center;
}
.swm a {
  color: #f00;
}
.swm a:visited {
  color: #f00;
}
.swm a:hover {
  color: #ff8080;
}
#7food {
  display: none;
}

/*NEC STYLES*/
.nec {
  display: flex;
  justify-content: center;
}
.nec .cell-market{
  color: #000;
}
.nec .cell-link {
  color: #000;
}      
.nec a {
  color: #0066cc;
}
.nec a:hover {
  color: #80bfff;
}
.nec a:visited {
  color: #0066cc;
}

/*TEN STYLES*/
.ten {
  display: flex;
  justify-content: center;
}
.ten .cell-market{
  color: #000;
}
.ten .cell-link {
  color: #000;
}      
.ten a {
  color: #0066cc;
}
.ten a:hover {
  color: #80bfff;
}
.ten a:visited {
  color: #0066cc;
}
/*FOOTER STYLES*/
footer {
  position: fixed;
  bottom: 10px;
  width: 80%;
  margin: 0 auto;
}
footer p {
  text-align: right;
}
